

.react-querybuilder-custom .ruleGroup {
  background-color: #ffffff;
  border-color: #e5e5e5;
  height: 100%;
}

.react-querybuilder-custom .rule-value {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 12px;
  outline: none;
  width: 120px;
}

.react-querybuilder-custom .rule-operators {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 12px;
  outline: none;
  width: 120px;
}

.react-querybuilder-custom .rule-fields {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 12px;
  outline: none;
  width: 120px;
}

/* .react-querybuilder-custom .rule-remove{
    background: #ffffff;
    border: 0.615094px solid #ff5711;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #ff5711;
    padding: 1px 5px !important;
    margin-left: auto !important;
} */

.react-querybuilder-custom .rule-remove {
  visibility: hidden;
  margin-left: 20px !important;
  margin-top: 3px !important;
  margin-right: 10px !important;
}

.react-querybuilder-custom .rule-remove::after {
  /* background: #ffffff; */
  /* border: 0.615094px solid #ff5711; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  /* border-radius: 2px; */
  /* color: #ff5711; */
  /* padding: 1px 5px !important; */
  margin-left: auto !important;
  visibility: visible;
  content: url(./../../../assets/reportBuilderIcons/DeleteQuery.svg);
  margin-top: 10px !important;
}

.react-querybuilder-custom .ruleGroup-remove {
  visibility: hidden;
  margin-left: auto !important;
  margin-top: 3px !important;
  margin-right: 10px !important;
}


.react-querybuilder-custom .ruleGroup-remove::after {
  margin-left: auto !important;
  visibility: visible;
  content: url(./../../../assets/reportBuilderIcons/DeleteQuery.svg);
  margin-top: 10px !important;
}

.react-querybuilder-custom .ruleGroup-combinators {
  background: #0d3c84;
  border: 0.615094px solid #0d3c84;
  padding: 2px 5px;
  color: #fff;
}

.react-querybuilder-custom .ruleGroup-addRule {
  background: #ffffff;
  border: 0.615094px solid #ff5711;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #ff5711;
  padding: 2px 10px !important;
  /* margin-left: auto !important; */
}

.react-querybuilder-custom .ruleGroup-addGroup {
  background: #ffffff;
  border: 0.615094px solid #ff5711;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #ff5711;
  padding: 2px 10px !important;
}
.react-querybuilder-custom .ruleGroup-addRule:hover{
    color: #e65010;
    background: #fff3ee;
 
}

.react-querybuilder-custom .ruleGroup-addGroup:hover{
    color: #e65010;
    background: #fff3ee;
 
}


.queryBuilder-branches .rule::before,
.queryBuilder-branches .rule::after,
.queryBuilder-branches .ruleGroup .ruleGroup::before,
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  border-color: #c4c4c4 !important;
}

.react-querybuilder-custom .queryBuilder {
  width: 100% !important;
}

.react-querybuilder-custom .rule {
  padding: 10px 10px;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: fit-content;
}
