.application-item {
  /* margin: 0 0 0 0; */
  min-width: 212px;
  width: 265px;
}

.card-wrap {
  margin-right: 25px;
  height: 145px;
  width: 154px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-item {
  height: 100%;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-view-card-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-info {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.card-info h6 {
  font-size: 10px;
  font-weight: 500;
  color: #8a8a8a;
}
.card-name {
  margin: 10px;
  padding: 5px;
  text-overflow: ellipsis;
  width: 100%;
}
.card-name h4 {
  font-size: 16px;
}

.card-status h6 {
  color: #ff5711;
  font-size: 12px;
  font-weight: bold;
  /* margin: 5px 0px 0px 16px; */
  /* margin: 8px; */
}

.grid-card-wrap-container {
  position: relative;
}
.grid-card-kebabMenu {
  position: absolute;
  top: 25px;
  right: 5px;
}

.Grid-View-Card-link {
  padding-top: 15px;
  padding-right: 20px;
}

.grid-card-kebabMenu .grid-card-kebabMenu-dropdown {
  position: absolute;
  inset: unset !important;
  transform: translate3d(0px, 28px, 0px);
  top: 0px !important;
  right: 0px !important;
  height: 100px !important;
  width: 134px;
  max-width: 134px;
  min-width: 134px;
}

.grid-card-kebabMenu-dropdown-Item {
  padding: 0px 10px;
}
