/* .arrow {
  display: flex;
  height: 25px;
  width: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.searchUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchLi {
  /* width: 169px; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* margin-left: 10px; */
  color: #0d3c84;
}

.droplistLable {
  width: 100%;
  display: block;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0d3c84;
}

.itemDiv {
  position: relative;
  display: flex;
  padding: 5px 0px;
  /* padding-left: ${(props) => `${props.dept * 18}px`}; */
  align-items: center;
}

.dropDownMenu {
  /* background: #ccc; */
  width: 200px;
  height: 250px;
  overflow-y: scroll;
  overflow: auto;
}
