.deletebtn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.bpmncomment {
  width: 84px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #0d3c84;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.bpmncommenttext {
  margin-top: 10px;
}
.bpmncommentbox {
  box-sizing: border-box;
  width: 470px;
  height: 92px;
  left: 0px;
  top: 27px;

  border: 1px solid #0d3c84;
  border-radius: 6px;
  margin-top: -11px;
}

.rightsideIcons {
  margin-top: 5px;
}
.cancelbpmnsecondaryButton {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #ff8872;
  background: #ffffff;
  border: 0.5px solid #ff8872;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: auto;
  margin-left: -6px !important;
}

.deletebpmnprimaryButton {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #ffffff;
  background: #ff5711;
  border: 0.5px solid #ff8872;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: auto;
  margin-left: -25px !important;
}
.deletebpmn {
  left: 16.02%;
  right: 16.28%;
  top: 40.1%;
  bottom: 48.73%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  /* Neutral Color/Neutral - 60% */

  color: #8a8a8a;
  margin-top: 10px;
}

.deletebpmn-modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 387px;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  height: auto;
  border-radius: 10px;
  background-color: white;
}
/* .rightsideIconsDownload{
  margin-top: -5px;
} */

.bpmndesigner-footer-error {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  color: #f50e0e;
  font-size: small;
}
