.loginPageCustom-container{
overflow: hidden;
}
.loginPageCustom-main-work-flow {
  margin-top: 72px;
  background-color: #fff;
}

.loginPageCustom-main-work-topbar {
  margin-bottom: 10px;
}
.fpCustomise-tabContent {
  margin-top: 5px;
}
.loginPageCustom-main-pages-tabs {
  align-items: center;
  background: #fafafa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 55px;
}
.loginPageCustom-main-work-flow .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white;
  border: 2px solid #ff9a64;
  color: black;
}
.loginCustom-rightside-menu {
  top: 9;
  position: absolute;
  width: 45px;
  text-align: center;
  z-index: 999;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 72vh;

  right: 0;
}
