.Changepassword .modal-content {
  width: 470px;
  height: 348px;
  margin-top: 100px;
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-width: 340px;
  display: flex;
  position: absolute;
}
.Changepassword .modal-body {
  overflow: unset;
}
.change-pass-modal .modal-content {
  border-radius: 10px;
}
.change-pass-modal .modal-body {
  padding-top: 10px;
}
/* .Changepassword .modal-content {
width: 340px;
height: 390px;
margin-top: 100px;
margin-left: 30px;
background: #FFFFFF;
box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
border-radius: 20px;
} */
.currentpassword {
  width: 100%;
  height: 39px;
  box-sizing: border-box;
  /* margin-left: -30px; */
  border: 1px solid #0d3c84;
  border-radius: 4px;
  padding: 8px;
}
.cancel-change-pass {
  width: 85px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px !important;
  margin-top: 5px;
}
/* .addusercurrentpasssword {
  width: 100%;
  height: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  
  color: #171717;
} */
.change-pass-botom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px !important;
}
.update {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #ffffff;
  background: #ff5711;
  border: 0.5px solid #ff8872;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 21%;
  /* margin-left: 75px !important;
  margin-top: 30px !important; */
  display: flex;
  width: 80px;
}
.change-pass-label {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #0d3c84;
}
.Text {
  width: 114px;
  height: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #0d3c84;
}

.text-danger {
  margin-left: 15px;
}

.form-group {
  margin-top: 3px;
}
