.height100 .background .fp h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin: 60px;
  /* padding-left: 20px; */
  padding-top: 50px;
}

.textStyle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.77);
  /* margin-right: 80px; */
}
div .email {
  width: auto;
  align-items: center;
  justify-content: center;

  margin-left: 0px;
  padding-left: 0px;
  /* margin-right: 20px; */
}
.form {
  align-items: center;
  justify-content: center;
}
.haveAccount {
  /* position: absolute; */
  /* margin: 50px; */
  text-align: end;
  /* padding-right: 100px; */
  /* margin-right: 120px; */
  font-style: normal;
  font-weight: 500;
  font-size: 1112px;
  line-height: 14px;

  color: #000000;
}

.customInput {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  margin-top: 5%;
  color: #004166;
  width: 395px;
  height: 57px;
  top: 438px;
  display: flex;
  border: 1px solid #004166;
  border-radius: 5px;
  padding-left: 10px;
}

.customInput:focus {
  border: 2px solid #004166;
}

.loginbutton {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  width: 305px;
  margin-top: 8% !important;
  height: 48px;
  color: #ffffff;
  background: #ff5711;
  border: 0.5px solid #ff5711;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.loginbutton:hover {
  color: #ffffff;
  background: #e65010;
  border: 0.5px solid #e65010;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.newPasswordInput {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #f3f3f3;
  margin-top: 1%;

  width: 395px;
  height: 40px;
  /* top: 438px; */
  display: flex;
  border: 0px solid #004166;
  border-radius: 6px;
  padding-left: 10px;
  outline: none;
  border: "none";
}

.eyebutton {
  margin-left: -45px;
  margin-top: 27px;
}

.submitbutton {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  width: 305px;
  margin-top: 8% !important;
  height: 48px;
  /* top: 683px; */
  background: #ff5711;
  border: "none";
  border-radius: 6px;
  border-width: 0px;
  color: #fff;
}

.submitbutton:active {
  background: #004166;
}
.newpassword {
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  margin-left: -30px;
  border: 1px solid #0d3c84;
  border-radius: 6px;
}

.forgotpassword-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotpassword-haveanaccount {
  font-size: 15px;
  align-self: flex-end;
}
.forgotpassword-login {
  text-decoration: none;
  color: #0000ee;
}
.forgotpassword-account {
  font-size: 15px;
}
.forgotpassword-response {
  font-size: 16px;
}
.forgotpassword-screen {
  align-content: center;
  align-items: center;
}
.resetpassword-newpasss {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.resetpassword-newpasssword {
  font-size: 16px;
}
.resetpassword-confirmpass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.background {
  align-items: center;
  background: linear-gradient(
    169.69deg,
    #004166 75.43%,
    rgba(0, 65, 102, 0) 192.24%
  );
  display: flex;
  justify-content: center;
  left: 0;
  position: relative;
  top: 0;
}

.signUp {
  color: #f8f8fb;
}
.forgotpassword-responsiveLogo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.forgotpassword-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 25%;
}
.leftAlignfp{
  left: 0px;
  padding-left: 12px;
  padding-bottom: 2px;
}